.container {
    width: min(94vw, 1320px);
    margin: 0 auto;
    padding: 0 0.75rem;
}

.btn {
    cursor: pointer;
    color: #fff;
    background-color: #076;
    border: 1px solid #076;
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    line-height: 1.5;
    font-size: 1.25rem;
    border-radius: 0.3rem;
}

.btn.secondary {
    background-color: #fff;
    border-color: #fff;
    color: #076;
}

.btn.small {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}

/* carousel */
.carousel-anchor {
    position: relative;
    overflow: hidden;
}

.carousel-container {
    display: flex;
}

.carousel-container.slide-right {
    transform: translateX(100%);
    transition: transform .6s ease-in-out;
    flex-direction: row-reverse;
}

.carousel-container.slide-left {
    transform: translateX(-100%);
    transition: transform .6s ease-in-out;
    flex-direction: row;
}

.carousel-item {
    display: none;
    flex: 0 0 100%;
    order: 0;
}

.carousel-item.lead {
    order: 1;
}

.carousel-item.show {
    display: block;
}

.prev-button {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    margin: auto 0;
    width: 15%;
    cursor: pointer;
}

.next-button {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    margin: auto 0;
    width: 15%;
    cursor: pointer;
}

/* global banner */
.global-banner {
    background-color: #076;
    padding: 0.5rem 0;
    position: relative;
    overflow: hidden;
}

.global-banner a {
    display: block;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

.global-banner .prev-button, .global-banner .next-button {
    pointer-events: none;
    cursor: none;
}

.global-banner-item-container {
    display: flex;
    justify-content: center;
}

/* navbar */
.navbar {
    padding: 1rem 2rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 2rem;
}

.navbar-brand {
    font-size: 1.5rem;
    line-height: 3rem;
    white-space: nowrap;
    text-decoration: none;
    font-weight: 700;
    display: block;
    color: #076;
}

.navbar-toggler {
    cursor: pointer;
}

.navbar-collapse {
    gap: 0 1rem;
    height: 0;
    display: none;
    flex: 1 0 100%;
    overflow: hidden;
    -webkit-transition: height 0.35s ease;
    -moz-transition: height 0.35s ease;
    -ms-transition: height 0.35s ease;
    -o-transition: height 0.35s ease;
    transition: height 0.35s ease;
    flex-direction: column;
}

.navbar-collapse.show {
    display: flex;
  }

.nav-link {
    font-weight: 700;
    padding: 0.5rem;
    text-decoration: none;
    color: #076;
}

.nav-link.right {
    margin-right: 0;
}

/* hero */
.hero {
    height: 500px;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    color: #fff;
}

.hero.show {
    display: flex;
}

#carousel2 .prev-button {
    margin-bottom: 1rem;
    right: 50%;
}

#carousel2 .next-button {
    margin-bottom: 1rem;
    left: 50%;
}

.bg-1 {
    background: linear-gradient(rgba(0,0,0,0.6) 100%, rgba(0,0,0,0.6) 100%), url(../assets/hampers_kotak_harian.JPG) center center no-repeat scroll;
    background-size: cover;
}

.bg-2 {
    background: linear-gradient(rgba(0,0,0,0.6) 100%, rgba(0,0,0,0.6) 100%), url(../assets/hampers_kotak_harian_2.JPG) center center no-repeat scroll;
    background-size: cover;
}

.bg-3 {
    background: linear-gradient(rgba(0,0,0,0.6) 100%, rgba(0,0,0,0.6) 100%), url(../assets/hampers_kotak_harian_3.JPG) center center no-repeat scroll;
    background-size: cover;
}

.hero > h1 {
    font-size: min(calc(1.425rem + 2.1vw), 3rem);
    font-weight: 700;
}

.plead {
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
}

.hero-button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 0.5rem;
}

.jumbotron {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 3rem 0;
}

.collection {
    padding: 0 0 2rem 0;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
}

.collection-item {
    gap: 1rem;
    margin: 1rem 1rem 3rem 1rem;
}

#carousel3 .prev-button {
    margin-bottom: 0;
    right: 50%;
}

#carousel3 .next-button {
    margin-bottom: 0;
    left: 50%;
}

.card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0.375rem;
}

.card > * {
    display: block;
}

.card > img {
    max-width: 100%;
}

.card-body {
    flex: 1 1 auto;
    padding: 1rem;
}

.support {
    padding: 2rem 0;
}

.support-container {
    background-color: #076;
    color: #fff;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.support-container > * {
    display: block;
}

.support > img {
    max-width: 100%;
}

.featured {
    padding: 2rem 0;
    gap: 2rem;
}

.featured .card{
    text-align: start;
    align-items: flex-start;
    padding: 2rem;
}

.feature-icon-container {
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #076;
    border-radius: 0.75rem;
}

.featured-link {
    display: flex;
    align-items: center;
    gap: 0 0.125rem;
}

footer {
    background-color: #076;
    color: #fff;
}

.footer {
    padding: 3rem 0rem;
}

.footer-grid {
    gap: 3rem;
}

.form {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1rem;
    width: 100%;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input-container > * {
    display: block;
}

.footer-navs {
    display: flex;
    gap: 0 3rem;
}

.footer-navs > * {
    display: block;
}

.footer-item {
    flex: 0.5;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-item > a{
    display: block;
    text-decoration: none;
    margin-bottom: 0.5rem;
    color: #fff;
}

.footer-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem 0;
}

.social-container > * {
    display: block;
}

.social {
    display: flex;
    gap: 0 1.5rem;
}

.copyright {
    margin-bottom: 0;
}

.about-story {
    padding: 2rem 0;
    gap: 2rem;
}

.about-story > * {
    display: block;
}

.story-image {
    background: url(../assets/BAGELEN\ BASAH\ DUS.JPG) center center no-repeat scroll;
    background-size: cover;
}

.story-image-2 {
    background: url(../assets/BAGELEN\ BASAH\ COKLAT\ CUP.JPG) center center no-repeat scroll;
    background-size: cover;
}

.story-image-3 {
    background: url(../assets/BAGELEN\ BASAH\ COKLAT\ CUP_2.JPG) center center no-repeat scroll;
    background-size: cover;
}

.story-image-4 {
    background: url(../assets/ROTI\ RUSSIAN\ TWIST.JPG) center center no-repeat scroll;
    background-size: cover;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10rem 0;
}

.content > h2 {
    color: #fff;
    background-color: #076;
    padding: 1rem;
}

.story-container {
    display: flex;
    flex-direction: column;
}

.story-containerstory > * {
    display: block;
}

.about-story-2 {
    background-color: #076;
    gap: 2rem;
}

.container-2 {
    padding: 2rem 0;
}

.story-container-2 {
    padding: 2rem 1rem;
}

.story-container-2 > * {
    color: #fff;
}
