@media (min-width: 576px){
    .collection-item {
        grid-template-columns: repeat(2, 1fr);
    }
    .support {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 768px){
    .collection-item {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width: 992px){
    .navbar-toggler {
        display: none;
    }
    .navbar-collapse {
        display: flex;
        height: 100% !important;
        flex: 1 0 0;
        flex-direction: row;
    }
    .nav-link.right {
        margin-right: auto;
    }
    .featured {
        grid-template-columns: repeat(3, 1fr);
    }
    .footer {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 1200px){
    .about-story {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 1400px){
}